<mat-card class="card">
  <mat-card-content>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex justify-content-start">
            <fa-icon [icon]="faCreditCard"></fa-icon>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 my-3">
          <p class="m-0">{{cardNumberFormatted}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 my-3">
          <p class="m-0">{{cardHolder}}</p>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>